{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>ADD VOTER</title>
{% endblock %}

    <h1><center>APPLY FOR VOTER CARD</center></h1>
{% block content %}
    <div class="container jumbotron">
        <form method="post">
            {% csrf_token %}
            {{form|crispy}}
        <input type="submit" value="SUBMIT" class="btn btn-success btn-lg">
        <input type="reset" value="RESET" class="btn btn-warning btn-lg float-right">
    </form>
    </div>
{% endblock %}
